@import "default";
.Navbar-nav {
  height: 48px;
  // background-color: pink;
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media only screen and (max-width: $bp-smallest) {
    justify-content: left;
  }

  &-1 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  &-2 {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-2 > * {
    text-decoration: none;
    color: #eb2f64;
    font-size: 1.8rem;
    padding: .61rem 1.5rem;
    letter-spacing: 1.2px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; 
    &:hover {
      color: #fff;
      background-color: #FF3366;
    }
  }

  &__logo {
    width: 120px;
    height: 44px;
    border-right: 2px solid #000;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
    
    &:hover {
      width: 150px;
      border-right: none;
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
    }
  }
}
